<a href="https://colab.research.google.com/github/shivansh2310/Finance-Stuff/blob/main/Hybrid_Asset_Allocation_(HAA)_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## Strategy Images

<img src='https://pbs.twimg.com/media/Fq2-LHcX0AAOcIR?format=jpg&name=large'>

Link :- https://twitter.com/VolatilitySwan/status/1634170171102248960

In [1]:
!pip install yfinance

Looking in indexes: https://pypi.org/simple, https://us-python.pkg.dev/colab-wheels/public/simple/
Collecting yfinance
  Downloading yfinance-0.2.12-py2.py3-none-any.whl (59 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 59.2/59.2 KB 2.4 MB/s eta 0:00:00
Requirement already satisfied: multitasking>=0.0.7 in /usr/local/lib/python3.9/dist-packages (from yfinance) (0.0.11)
Collecting frozendict>=2.3.4
  Downloading frozendict-2.3.5-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.8/112.8 KB 6.1 MB/s eta 0:00:00
Requirement already satisfied: pandas>=1.3.0 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.3.5)
Requirement already satisfied: lxml>=4.9.1 in /usr/local/lib/python3.9/dist-packages (from yfinance) (4.9.2)
Collecting requests>=2.26
  Downloading requests-2.28.2-py3-none-any.whl (62 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 62.8/62.8 KB 6.0 MB/s eta 0:00:00
Collecting appdirs>=1.4.4
  Downloading appdirs-1.4.4-py2.py3-none-any.whl (9.6 kB)
Collecting cryptography>=3.3.2
  Downloading cryptography-39.0.2-cp36-abi3-manylinux_2_28_x86_64.whl (4.2 MB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.2/4.2 MB 49.1 MB/s eta 0:00:00
Requirement already satisfied: numpy>=1.16.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (1.22.4)
Collecting beautifulsoup4>=4.11.1
  Downloading beautifulsoup4-4.11.2-py3-none-any.whl (129 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 129.4/129.4 KB 12.0 MB/s eta 0:00:00
Requirement already satisfied: pytz>=2022.5 in /usr/local/lib/python3.9/dist-packages (from yfinance) (2022.7.1)
Collecting html5lib>=1.1
  Downloading html5lib-1.1-py2.py3-none-any.whl (112 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 112.2/112.2 KB 11.1 MB/s eta 0:00:00
Collecting soupsieve>1.2
  Downloading soupsieve-2.4-py3-none-any.whl (37 kB)
Requirement already satisfied: cffi>=1.12 in /usr/local/lib/python3.9/dist-packages (from cryptography>=3.3.2->yfinance) (1.15.1)
Requirement already satisfied: six>=1.9 in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (1.15.0)
Requirement already satisfied: webencodings in /usr/local/lib/python3.9/dist-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.9/dist-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2022.12.7)
Collecting charset-normalizer<4,>=2
  Downloading charset_normalizer-3.1.0-cp39-cp39-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (199 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 199.2/199.2 KB 15.3 MB/s eta 0:00:00
Requirement already satisfied: urllib3<1.27,>=1.21.1 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (1.26.14)
Requirement already satisfied: idna<4,>=2.5 in /usr/local/lib/python3.9/dist-packages (from requests>=2.26->yfinance) (2.10)
Requirement already satisfied: pycparser in /usr/local/lib/python3.9/dist-packages (from cffi>=1.12->cryptography>=3.3.2->yfinance) (2.21)
Installing collected packages: appdirs, soupsieve, html5lib, frozendict, charset-normalizer, requests, cryptography, beautifulsoup4, yfinance
  Attempting uninstall: html5lib
    Found existing installation: html5lib 1.0.1
    Uninstalling html5lib-1.0.1:
      Successfully uninstalled html5lib-1.0.1
  Attempting uninstall: requests
    Found existing installation: requests 2.25.1
    Uninstalling requests-2.25.1:
      Successfully uninstalled requests-2.25.1
  Attempting uninstall: beautifulsoup4
    Found existing installation: beautifulsoup4 4.6.3
    Uninstalling beautifulsoup4-4.6.3:
      Successfully uninstalled beautifulsoup4-4.6.3
Successfully installed appdirs-1.4.4 beautifulsoup4-4.11.2 charset-normalizer-3.1.0 cryptography-39.0.2 frozendict-2.3.5 html5lib-1.1 requests-2.28.2 soupsieve-2.4 yfinance-0.2.12

In [2]:
import yfinance as yf

In [3]:
TIP = yf.Ticker("TIP")
TIP

yfinance.Ticker object <TIP>

In [5]:
TIP_df = TIP.history(start="2022-02-28", end="2023-02-28", period="1d")
TIP_df

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2022-02-28 00:00:00-05:00,118.572852,119.901429,118.563435,119.835472,7282300,0.000,0.0,0.0
2022-03-01 00:00:00-05:00,120.155476,121.108868,120.146034,120.693527,8968800,0.229,0.0,0.0
2022-03-02 00:00:00-05:00,120.466969,120.580238,119.881717,119.910034,5829800,0.000,0.0,0.0
2022-03-03 00:00:00-05:00,120.070527,120.259322,119.730704,119.768463,4892900,0.000,0.0,0.0
2022-03-04 00:00:00-05:00,120.504736,121.278768,120.504736,120.684082,4735200,0.000,0.0,0.0
...,...,...,...,...,...,...,...,...
2023-02-21 00:00:00-05:00,107.099998,107.260002,106.870003,106.970001,2344000,0.000,0.0,0.0
2023-02-22 00:00:00-05:00,107.349998,107.510002,106.830002,106.910004,5106800,0.000,0.0,0.0
2023-02-23 00:00:00-05:00,107.000000,107.379997,106.959999,107.260002,3038100,0.000,0.0,0.0
2023-02-24 00:00:00-05:00,106.730003,106.769997,106.349998,106.559998,3524300,0.000,0.0,0.0
2023-02-27 00:00:00-05:00,106.769997,106.870003,106.639999,106.779999,1614400,0.000,0.0,0.0

In [8]:
daily_simple_returns = TIP_df.pct_change() 
daily_simple_returns

,Open,High,Low,Close,Volume,Dividends,Stock Splits,Capital Gains
Date,,,,,,,,
2022-02-28 00:00:00-05:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2022-03-01 00:00:00-05:00,0.013347,0.010070,0.013348,0.007160,0.231589,inf,NaN,NaN
2022-03-02 00:00:00-05:00,0.002592,-0.004365,-0.002200,-0.006492,-0.349991,-1.0,NaN,NaN
2022-03-03 00:00:00-05:00,-0.003291,-0.002661,-0.001260,-0.001181,-0.160709,NaN,NaN,NaN
2022-03-04 00:00:00-05:00,0.003616,0.008477,0.006465,0.007645,-0.032230,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...
2023-02-21 00:00:00-05:00,0.000187,-0.002325,-0.001495,-0.004467,-0.558094,NaN,NaN,NaN
2023-02-22 00:00:00-05:00,0.002334,0.002331,-0.000374,-0.000561,1.178669,NaN,NaN,NaN
2023-02-23 00:00:00-05:00,-0.003260,-0.001209,0.001217,0.003274,-0.405087,NaN,NaN,NaN
2023-02-24 00:00:00-05:00,-0.002523,-0.005681,-0.005703,-0.006526,0.160034,NaN,NaN,NaN
2023-02-27 00:00:00-05:00,0.000375,0.000937,0.002727,0.002065,-0.541923,NaN,NaN,NaN

In [10]:
daily_simple_returns.Close

Date
2022-02-28 00:00:00-05:00         NaN
2022-03-01 00:00:00-05:00    0.007160
2022-03-02 00:00:00-05:00   -0.006492
2022-03-03 00:00:00-05:00   -0.001181
2022-03-04 00:00:00-05:00    0.007645
                               ...
2023-02-21 00:00:00-05:00   -0.004467
2023-02-22 00:00:00-05:00   -0.000561
2023-02-23 00:00:00-05:00    0.003274
2023-02-24 00:00:00-05:00   -0.006526
2023-02-27 00:00:00-05:00    0.002065
Name: Close, Length: 251, dtype: float64

In [11]:
# Annual Return

Annual_retun = daily_simple_returns.Close.mean() * 252
Annual_retun

-0.11198633641963823

In [12]:
# monthly Return

Monthly_retun = daily_simple_returns.Close.mean() * 21
Monthly_retun

-0.00933219470163652

In [13]:
# 3 month Return

quatarly_return = daily_simple_returns.Close.mean() * 63
quatarly_return

-0.027996584104909558

In [14]:
# 6 months Return

half_year_return = daily_simple_returns.Close.mean() * 126
half_year_return

-0.055993168209819116

In [16]:
momentum = (Monthly_retun + quatarly_return + half_year_return + Annual_retun) / 4 

momentum

-0.05132707085900086